<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/general/css/bootstrap.min.css' %}">
    <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>

</head>
<body>
{% include 'home/navbar.html' %}
<div class="container">
    {% include 'home/messagess.html' %}
</div>

{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="{% static 'static/general/js/bootstrap.min.js' %}"></script>
<script>
     $(document).ready(function(){
         $('.toast').toast('show');
     });
</script>

</body>