{% extends 'home/index.html' %}

{% block content %}
    <div class="container">
        {% include 'home/messagess.html' %}
        {% for post in posts %}
            <h1> <a href={{post.get_absolute_url}}>{{ post.title }} </a> </h1>
            <p> {{ post.description }}</p>
            <p> {{ post.slug }}</p>
            <img src={{ post.image.url }} width="200px" height="200px">
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page= {{ posts.previous_page_number }}"> previous</a>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                    <a href="?page= {{ posts.paginator.num_pages }}"> last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
